.blank {
	background-color: aliceblue;
	padding: 20px;
}

/* css login */
.login {
	margin-left: 20px;
}

.error {
	color: red;
}

.class {
	margin-left: 150px;
	margin-top: 150px;
	text-align: center;
}

/* 게임1용 CSS */
/* #td2 {
	border: 1px solid black;
	padding: 0px;
	height: 200px;
	width: 300px;
	position: relative;
	text-align: center;
}

#td3 {
	border: 1px solid black;
	padding: 0px;
	height: 130px;
	width: 170px;
	text-align: center;
}

#td4 {
	border: 1px solid black;
	padding: 0px;
	height: 100px;
	width: 150px;
	position: relative;
	text-align: center;
}

#gamePannel {
 	float:left;
	margin-left: 20%;
	margin-top: 80px;
	margin-button: 80px;
	width: 30%;	
	border-collapse: collapse;	
} */

/* #selectPannel{
	margin-left: 100px;
} */

/*game1 Algo */
	.background1{
		width:100%;
		background-color: white;
		height: 760px;
	}

	#gamePannel1{
	 	float:left;
	 	margin-top: 35px;
		margin-button: 50px;;
		margin-left:18%; 
    	margin-right:auto;
    	width: 30%;	
		border-collapse: collapse;
    	text-align: center;
	}

	#answerPannel1{
		float:left;
		width:30%;
		margin-left:1.5%; 
		margin-right: auto;
		margin-top: 25px;
		margin-button: 50px;
		font-weight: bold;
	}

	/* game2 Algo*/	
	.background2{
		width: 100%;
		background-color: white;
		height: 630px;
	}
	#gamePannel {
	 	float:left;
		margin-left: 18%;
		margin-top: 45px;
		margin-button: 50px;
		width: 33%;	
		border-collapse: collapse;	
	}
	#answerPannel{
		float:left;
		width: 30%;
		margin-left:3%;
		margin-right: auto;
		margin-top: 35px;
		margin-button: 50px;
	}
	
	/*game3 typing Game CSS 20151130*/
	.background{
		width: 100%;
		background-color: white;
		height: 600px;
	}
	.left{
		float: left;
		margin-left: 34%;
		margin-top: 70px;
		margin-button:50px;
		width:25%;
		font-weight:bold;
	}
	.right{
		float:left;
		margin-left:2%;
		margin-right: auto;
		margin-top: 70px;
	}
	.typingHeader{
		width:100%;
		color: lightblue;
		margin-top: 50px;
		text-align:center;
	}
	
	img{
		margin-left: auto;
		margin-right: auto;
	}
	
