header {
	background-color: lightblue;
	color: white;
	text-align: left;
	padding: 5px;
}

.blank {
	background-color: aliceblue;
	padding: 20px;
}

footer {
	background-color: lightblue;
	color: white;
	height: 100px;
	clear: both;
	text-align: center;
}

/* css login 추가  CHJ */
.login {
	margin-left: 20px;
}

.error {
	color: red;
}

.class {
	margin-left: 150px;
	margin-top: 150px;
	text-align: center;
}

/* 게임1용 CSS */
#td2 {
	border: 1px solid black;
	padding: 0px;
	height: 200px;
	width: 300px;
	position: relative;
	text-align: center;
}

#td3 {
	border: 1px solid black;
	padding: 0px;
	height: 130px;
	width: 170px;
	text-align: center;
}

#td4 {
	border: 1px solid black;
	padding: 0px;
	height: 100px;
	width: 150px;
	position: relative;
	text-align: center;
}

#gamePannel {
/*  width: 30%; 	 */	
 	float:left;
	margin-left: 20%;
	margin-top: 80px;
	margin-button: 80px;
	width: 30%;	
	border-collapse: collapse;
	
}

/* #selectPannel{
	margin-left: 100px;
} */

/*game3 CSS 20151130*/
	.background{
		width: 100%;
		background-color: white;
		height: 450px;
	}
	.left{
		float: left;
		margin-left: 35%;
		margin-top: 70px;
		margin-button:50px;
		width:25%;
		font-weight:bold;
	}
	.right{
		float:left;
		margin-left:auto;
		margin-right: 20%;
		margin-top: 70px;
	}
	.typingHeader{
		width: 100%;
		color: lightblue;
		margin-top: 50px;
		text-align:center;
	}
	
	img{
		margin-left: auto;
		margin-right: auto;
	}
	
	/*game1 */
	.background1{
		width: 100%;
		background-color: white;
		height: 620px;
	}

	#gamePannel1{
	 	float:left;
	 	margin-top: 35px;
		margin-button: 80px;;
		width: auto;	
		border-collapse: collapse;
		margin-left:20%; 
    	margin-right:auto;
    	text-align: center;
	}

	#answerPannel1{
		float:left;
		margin-left:3%;
		margin-right: auto;
		margin-top: 30px;
		margin-button: 80px;
		font-weight: bold;
	}

	/* game2*/
	
	.background2{
		width: 100%;
		background-color: white;
		height: 480px;
	}
	#gamePannel {
	 	float:left;
		margin-left: 22%;
		margin-top: 35px;
		margin-button: 80px;
		width: auto;	
		border-collapse: collapse;	
}
	#answerPannel{
		float:left;
		margin-left:6%;
		margin-right: auto;
		margin-top: 35px;
		margin-button: 80px;
	}
	
