a {
	text-decoration: none !important;
	color: black;
}
			
menu {
	background-color: powderblue;
	padding: 10px;
	color: black;
	font-weight: bold;
}

table tr th{
	background-color: #f1f2f2;
	font-weight: bold;
}

#table{
		margin-top: 20px;
	}
	
table tr td.id{
		background-color:darkgray;
}