<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:c="http://www.springframework.org/schema/c"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.2.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">
	
	<!--  transaction  annotation-driven CHJ 20151123 -->
	<tx:annotation-driven proxy-target-class="true" transaction-manager="transactionManager"/>
	
	<!-- BasicDataSource -->
	<bean name="dataSource" class="org.apache.tomcat.dbcp.dbcp2.BasicDataSource"
		p:driverClassName="oracle.jdbc.driver.OracleDriver"
		p:url="jdbc:oracle:thin:@127.0.0.1:1521:XE"
		p:username="object" p:password="class" p:initialSize="2" p:maxTotal="50" />
	
	<!-- SqlSessionFactoryBean -->
	<bean name="SqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean"
		p:dataSource-ref="dataSource" p:configLocation="classpath:kr/or/object/config/mybatis-config.xml" />

	<!-- SqlSessionTemplate -->
	<bean name="SqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate"
		c:sqlSessionFactory-ref="SqlSessionFactoryBean" />

	<!-- ResouceBundleMessageSource -->
	<bean name="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource" p:basename="kr.or.object.message.error_message" />	

	<!-- 20151118 CHJ multipart resolver 설정 -->
 	<bean name="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver"/> 

	<!-- 20151118 beanResolver class 설정 CHJ-->
		<bean class= "org.springframework.web.servlet.view.BeanNameViewResolver" p:order="1"/>
		<bean class = "org.springframework.web.servlet.view.InternalResourceViewResolver" p:order="2"/>	
	<!-- annotation설정 -->		
	<mvc:annotation-driven />

	<!--  20151123 transaction manager 설정 CHJ -->
		<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<property name="dataSource" ref="dataSource"/>
		</bean>
		
	<context:component-scan base-package="kr.or.object.controller, kr.or.object.dao, kr.or.object.service" />
	<!-- view-controller setting -->
	<!-- jquery -->
	<mvc:view-controller path="/jquery.do" view-name="/WEB-INF/script/jquery.js" />
	
	<!-- member -->
	<mvc:view-controller path="/main.do" view-name="/WEB-INF/script/main.jsp" />
	<mvc:view-controller path="/member/register.do" view-name="/WEB-INF/script/login/register_form_validate.jsp" />
	<mvc:view-controller path="/member/register_success.do" view-name="/WEB-INF/script/login/register_success.jsp" />
	<mvc:view-controller path="/member/update.do" view-name="/WEB-INF/script/login/update_form.jsp" />
	<mvc:view-controller path="/member/login.do" view-name="/WEB-INF/script/main.jsp" />
	<mvc:view-controller path="/member/mypage.do" view-name="/WEB-INF/script/login/mypage.jsp" />
	<mvc:view-controller path="/member/memberUpdate.do" view-name="/WEB-INF/script/login/member_update.jsp" />
	<!-- 20151118 ADD KKH - 잃어버린 아이디 찾기 추가 -->
	<mvc:view-controller path="/member/findId.do" view-name="/WEB-INF/script/login/find_id.jsp" />

	<!-- 20151120 ADD KKH - 잃어버린 비밀번호 찾기 -->
	<mvc:view-controller path="/member/findPwd.do" view-name="/WEB-INF/script/login/find_password.jsp" /> 
	<!-- 고객문의 요청 추가 -->
	<mvc:view-controller path="/member/request.do" view-name="/WEB-INF/script/login/request_member.jsp" />

	<!-- Language CHJ-->
	<mvc:view-controller path="/language/computer_language.do" view-name="/WEB-INF/script/language/computer_language.jsp" />
	
	<!-- game -->
	<mvc:view-controller path="/game/select_game.do" view-name="/WEB-INF/script/game/EX1.jsp" />
	<mvc:view-controller path="/game/game1js.do" view-name="/WEB-INF/script/game/game1.js" />
	<mvc:view-controller path="/game/game2js.do" view-name="/WEB-INF/script/game/game2.js" />
	<mvc:view-controller path="/game/game3js.do" view-name="/WEB-INF/script/game/game3.js" />
	<mvc:view-controller path="/5bject/game/game_menu.do" view-name="" />
	<mvc:view-controller path="/game/add/word.do" view-name="/WEB-INF/script/game/add_gameword.jsp" />
	<mvc:view-controller path="/game/find/word.do" view-name="/WEB-INF/script/game/find_gameword_form.jsp" />
	<mvc:view-controller path="/game/find/allWord.do" view-name="/WEB-INF/script/game/find_gameword.jsp" />

	<!-- game1-2 정답 오답 처리 팝업 -->
	<mvc:view-controller path="/game/game_correctPop.do" view-name="/WEB-INF/script/game/correct.jsp" />
	<mvc:view-controller path="/game/game_incorrectPop.do" view-name="/WEB-INF/script/game/incorrect.jsp" />
	
	<!-- 게시판 -->
	<mvc:view-controller path="/board/board.do" view-name="/WEB-INF/script/board/list.jsp"/>
	<mvc:view-controller path="/board/write.do" view-name="/WEB-INF/script/board/write.jsp"/>
	<mvc:view-controller path="/board/write_success.do" view-name="/WEB-INF/script/board/write_success.jsp"/>
	<mvc:view-controller path="/board/delete.do" view-name="/WEB-INF/script/board/delete.jsp"/>
	<mvc:view-controller path="/board/delete_success.do" view-name="/WEB-INF/script/board/delete_success.jsp"/>
	<mvc:view-controller path="/board/reply.do" view-name="/WEB-INF/script/board/reply.jsp"/>
	<mvc:view-controller path="/board/reply_success.do" view-name="/WEB-INF/script/board/reply_success.jsp"/>
	<mvc:view-controller path="/board/update.do" view-name="/WEB-INF/script/board/update.jsp"/>
	<mvc:view-controller path="/board/update_success.do" view-name="/WEB-INF/script/board/update_success.jsp"/>
	<mvc:view-controller path="/board/view.do" view-name="/WEB-INF/script/board/view.jsp"/>
	
</beans>