<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="gamewordMapper">
	<resultMap id="gameWord-resultMap" type="gameWord">
		<constructor>
			<idArg column="game_num" javaType="_int" />
			<arg column="difficulty" javaType="_int" />
			<arg column="word" javaType="string" />
		</constructor>
	</resultMap>

	<sql id="selectGameWord-sql">
		SELECT GAME_NUM, DIFFICULTY, WORD
	</sql>

	<insert id="insertGameWord" parameterType="gameWord">
		INSERT	INTO GAMEWORD VALUES(#{ gameNum }, #{ difficulty }, #{ word })
	</insert>
	
	<select id="selectGameWordByWord" parameterType="hashmap" resultMap="gameWord-resultMap">
		<include refid="selectGameWord-sql" />
		FROM 	GAMEWORD
		WHERE	WORD = #{ word }
	</select>
	
	<select id="selectAllGameWord" parameterType="hashmap" resultMap="gameWord-resultMap">
		<include refid="selectGameWord-sql" />
		FROM	(<include refid="selectGameWord-sql" />, CEIL(ROWNUM / #{ contentsPerPage }) PAGE
				FROM (<include refid="selectGameWord-sql" />
						FROM GAMEWORD
						ORDER BY GAME_NUM ASC, DIFFICULTY ASC, WORD ASC
				)
		) WHERE PAGE = #{ pageNo }
	</select>
	
	<select id="selectPlayingGameWord" parameterType="map" resultMap="gameWord-resultMap">
		<include refid="selectGameWord-sql" />
		FROM	GAMEWORD
		<![CDATA[
		WHERE	GAME_NUM = #{ gameNum } AND DIFFICULTY <= #{ difficulty }
		]]>
	</select>
	
	<select id="selectWordCount" resultType="_int">
		SELECT	COUNT(WORD) FROM GAMEWORD
	</select>
</mapper>
